.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}
mat-form-field{
    width: 100%;
}
.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}
.right-align {
    display: flex;
    justify-content: flex-end;
}